body {
  margin: 0;
  background: #577399;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  padding-top: 20px;
  width: 100vw;
  height: auto;
}
.app-wrapper {
  text-align: center;
  min-width: 380px;
  max-width: 700px;
  margin: auto; 
}

#menu-wrapper {
  width: 100%;
  align-items: initial;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}

/* flex container for inline items of a different height */
.container {
  display: flex;
  align-items: center;
}


/* Nav Tabs CSS */
.menu-nav {
  height: 1.5em;
  display: flex;
  align-items: center;
}
.tab {
  height: 1.5em;
  border: 2px solid black;
  padding: 0 .5em .2em .4em;
  text-align: center;
  background: #BDD5EA;
  color: #495867;
  border-radius: 5px 5px 0 0;
  font-size: 1.5em;
  margin-right: .3em;
}
.tab.selected {
  background: #F7F7FF;
  color: #293241;
  border-bottom: none;
}
.drop-down {
  text-decoration: none;
  color: #FE5F55;
}


/* Menu Output CSS */
.menu-contents.selected {
  border-radius: 0 5px 5px 5px;
  display: block;
}
.menu-contents {
  padding: 1em .5em;
  border: 2px solid #293241;
  border-top: none;
  background: #F7F7FF;
  width: inherit; 
  display: none;
}
.menu-contents h3 {
  margin-top: 0;
}
.menu-contents input {
  width: 15em;
  height: 2em;
  font-size: 1.2em;
  border: 2px solid #293241;
  border-radius: 5px;
  background: #BDD5EA;
  text-align: center; 
}


/* CSS for the information */
.information .container {
  justify-content: center;
  margin-bottom: .3em;
}
.sample-number {
  border-radius: 5px;
  letter-spacing: .2em;
  margin: 0 .2em;
  padding: .1em .2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.area-code {
  background: #8cb369;
}
.info-bubble {
  width: 7em;
  margin-right: .3em;
  border-radius: 5px;
  padding: .4em .3em;
}
.info-title {
  display: block;
  margin-bottom: .3em;
}


.prefix-code {
  background: #f4e285;
}
.line-code {
  background: #f4a259;
}
.country-code {
  background: #5b8e7d;
}
.sample-block-3 {
  height: 1em;
  width: 2em;
  background: #bc4b51;
  margin: 0 .1em;  
}
.sample-block-4 {
  height: 1em;
  width: 2.6em;
  background: #bc4b51;
  margin: 0 .1em;  
}



/* Link output CSS */
#output-wrapper {
  background: #F7F7FF;
  border: 2px solid #293241;
  border-radius: 0 5px 5px 5px;
  padding: 1em .5em;
}


.menu-label {
  height: 1.5em;
  padding: 0 .5em 0 .4em;
  

  border-bottom: none;
  border-radius: 5px 5px;
  font-size: 2em;
  display: flex;
  align-items: center;
}
.menu-title {
  display: inline-block;
  font-size: 1.5em;
  margin-right: .5em
}
.current-value {
  margin-right: .25em;
  font-size: 1.2em;
}

