@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* ********* Page Level CSS *********** */

body {
  margin: 0;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Condensed";
  box-sizing: border-box;
  padding: 0 15px;
  height: 100vh; 
  width: 100vw;
}

.home {
  color: #FFFFFF;
  background: #DC6C6C;
}
.result {
  color: #000;
  background: #FAE5E5;
}

/* ******** Nav Logo Style *********** */
nav {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-between;
  font-size: 1em;
  position: fixed;
  top: 0; 
}
.nunchuck {
  height: 54px;
  width: 58px;
}
#logo-container {
  display: flex;
  align-items: center;
}


main {
  border: 1px solid black;
}

.container {
  position: relative;
  height: auto; 
  width: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  color: #FFFFFF;
}

#phone-input {
  padding: 7px 5px;
  border-radius: 8px;
  background: #FAE5E5;
  width: 300px;
  margin-bottom: 14px;
  text-align: center; 
}

/*************************** TO DO - CHANGE BUTTON STYLE */
.submit {
  padding: 7px 15px;
  border-radius: 5px;
  display: block
}

.transition {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0px; 
  width: 0px;
  z-index: 2;
  border-radius: 50%;
}

.test {
  width: 10px;
  height: 10px;
}
